<ion-header>
    <ion-toolbar>
      <ion-title>Lungo</ion-title>
      <!--geri butonu-->
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/kahveiki" text="Geri" color="blue" icon="arrow-back" mode="ios" ></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <h1 id="b1">Lungo</h1>
      <p></p>
      <img src="assets/lungo.jpg">
      <p></p>
      <h5 id="h1">Hakkında</h5>
      <p id="yazi">Lungo, oldukça yoğun bir kıvama sahip espressonun daha hafif ve seyreltilmiş hali olduğu için içimi daha yumuşak, tadı ise espressoya oranla daha serttir. Özel oranlarla hazırlanan lungo, Fransızca'da “café allongé” olarak adlandırılır popüler bir kahve türüdür</p>
  
      <h5 id="h1">Tarihçe</h5>
      <p id="yazi">İtalyanca’da uzun anlamına gelen “lungo” bir tür kahve türüdür. Bu kahve, Fransızca’da “cafe allonge” ismiyle bilinmektedir.</p>
  
      <h5 id="h1">Yapılışı</h5>
      <p id="yazi">Klasik espressonun bir buçuk-iki katı olan lungonun ana maddesi espresso olduğu için lungo, aynı kahve makineleri ile hazırlanır. Klasik espresso, 18-30 saniye arasında 25-30 ml hacimle hazırlanırken lungoda iki kat fazla su kullanılır.</p>
  
  
  </ion-content>
  
