<ion-header>
    <ion-toolbar>
      <ion-title>Kül Kahvesi</ion-title>
      <!--geri butonu-->
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/kahvebir" text="Geri" color="blue" icon="arrow-back" mode="ios" ></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <h1 id="b1">Kül Kahvesi</h1>
      <p></p>
      <img src="assets/kulkahvesi.jpg">
      <p></p>
      <h5 id="h1">Hakkında</h5>
      <p id="yazi">Türk kahvesinin klasik hazırlama yöntemi bakır cezvenin mangalda ısıtılmasına dayanır. Zaman içerisinde, evlerde mangal kullanımının azalması ve hatta giderek yok olması ile mangalda Türk kahvesi hazırlanması da tarihe karışmıştır.</p>
  
     
      <h5 id="h1">Yapılışı</h5>
      <p id="yazi">Şehirleşme ile birlikte mangalda kahvenin yerini alan çeşitli fikirlerde ortaya çıkmıştır. Bu fikirlerden biri de Kül Kahvesi Makineleri fikridir. Kül kahvesi makinelerinin üretilmesiyle birlikte; çeşitli kafe ve restorantlarda kül kahvesi mantığına dayanan kahve pişirme yöntemi giderek artış göstermiş ve turistik Türk kahvesi pişirme sanatına dönüşmüştür. </p>
  
  
  </ion-content>
  