#b1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    color:brown;
    font-style: oblique;

}
#yazi{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
#h1{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    color:brown;
    
}