<ion-header>
    <ion-toolbar>
      <ion-title>Süvari Kahvesi</ion-title>
      <!--geri butonu-->
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/kahvebir" text="Geri" color="blue" icon="arrow-back" mode="ios" ></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <h1 id="b1">Süvari Kahvesi</h1>
      <p></p>
      <img src="assets/suvari.jpg">
      <p></p>
      <h5 id="h1">Hakkında</h5>
      <p id="yazi">Çay bardağında Türk kahvesi içmek, Anadolu’da farklı isimlerle bilinen bir kahve çeşididir. Bu tarz bir kahve içimi, Ege Bölgesi’nde Süvari Kahve adıyla bilinmektedir. Akdeniz Bölgesi’nde ise aynı kahveye Tarsuzi veya Tarz-ı Hususi denir. Aynı zamanda Antakya kahvesi ismiyle de ifade edilmektedir.</p>
  
     
      <h5 id="h1">Yapılışı</h5>
      <p id="yazi">Süvari kahvesi yapmak isterseniz gereken ölçüler; 1 çay bardağı su,1 tatlı kaşığı taze çekilmiş Türk kahvesi ve İsteğe göre 1 tatlı kaşığı toz şekerdir. Bu ölçü 1 kişilik sade süvari kahvesi yapımı için idealdir. Süvari kahvesinde genelde şeker kullanılmaz fakat kullananlar da vardır. Siz de isteğe göre kendiniz ekleyebilirsiniz.</p>
  
  
  </ion-content>
  

