<ion-header>
    <ion-toolbar>
      <ion-title>Mazagran</ion-title>
      <!--geri butonu-->
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/kahvebes" text="Geri" color="blue" icon="arrow-back" mode="ios" ></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <h1 id="b1">Mazagran</h1>
      <p></p>
      <img src="assets/mazagran.jpg">
      <p></p>
      
     
      <h5 id="h1">Hakkında</h5>
      <p id="yazi">Mazagran Cezayir kökenli soğuk ve şekerli kahve. Portekiz versiyonunda espresso, limon ve rom kullanılır. Avusturya versiyonunda ise rom eklenip buz ile servis edilir. Önceden tatlandırılmış espressonun içine buz ve limon koyarak hızlı şekilde hazırlanabilir. Mazagran orijinal buzlu kahve olarak tanınmaktadır.</p>
  

      <h5 id="h1">Yapılışı</h5>
      <p id="yazi">Öncelikle kahvenin soğuk olarak demlenmesi lazım, bunun için french presse çekilmiş kahve konulup su eklenir, karıştırılır ve jelatinlenerek dolaba konulur ve 12 saat kadar bekletilir.12 saat sonra soğuk olarak demlenmiş olan kahve filtreye bastırılarak hazır hale gelir. Bu kahveden 60 ml fincana konulur. 5gr esmer şeker ve buz küpleri fincana eklenir. Son olarak 45ml limon suyu sıkılıp eklenir.</p>
  
  
  </ion-content>
  
