<ion-header>
    <ion-toolbar>
      <ion-title>Mırra Kahvesi</ion-title>
      <!--geri butonu-->
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/kahvebir" text="Geri" color="blue" icon="arrow-back" mode="ios" ></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <h1 id="b1">Mırra Kahvesi</h1>
      <p></p>
      <img src="assets/mirra.jpg">
      <p></p>
      <h5 id="h1">Hakkında</h5>
      <p id="yazi">Mırra, Arap coğrafyasına ait ancak ülkemizde de Adana, Şanlıurfa, Mardin gibi illerimizde sıklıkla tüketilen bir kahve. İsmini Arapça acı anlamına gelen "mur" kelimesinden alan mırra isminin hakkını vererek dünyanın en sert kahvelerinden biri olma özelliği taşıyor.</p>
  
     
      <h5 id="h1">Yapılışı</h5>
      <p id="yazi">Önce çiğ (yeşil) halde bulunan kaliteli kahve çekirdekleri iyice kavruluyor. Sonra ağaçtan yapılmış dibek adı verilen bir havanda çok incelmemesine dikkat edilerek dövülüyor. Ardından "gümgüm" adı verilen büyük bir cezvede 2 saat gibi bir süre boyunca kaynatılıyor. Bu uzun süre sonunda kahve telve kıvamına gelince telvenin üstünde oluşan şerbet adı verilen kalın sıvı süzülüyor ve kahvenin geri kalanı güğüm benzeri "mutbak" adı verilen bir kaba aktarılıyor.

          Üzerine tekrar kahve ve su eklenerek yeniden kaynatılıyor ve tüm bu işlemler kahve pekmeze benzer bir kıvama gelene kadar tekrarlanıyor.
          
          Böylelikle uzun süre saklanabilen ve tekrar kullanılabilen mırra hazır oluyor ve şişelere aktarılıyor. İkram edileceği zamansa ısıtılıp ibriklere konuluyor ve kulpsuz fincanlarda konuklara veriliyor.</p>
  
  
  </ion-content>
  
