<ion-header>
    <ion-toolbar>
      <ion-title>Cafe Latte</ion-title>
      <!--geri butonu-->
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/kahveuc" text="Geri" color="blue" icon="arrow-back" mode="ios" ></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <h1 id="b1">Cafe Latte</h1>
      <p></p>
      <img src="assets/cafelatte.jpg">
      <p></p>
      <h5 id="h1">Hakkında</h5>
      <p id="yazi">Espresso bazlı kahveler arasında en popüler olanlardan biri: Latte / Caffé Latte. Gerek yumuşak içimi gerek sanatıyla ayrı bir kültür oluşturan ‘Latte’, İtalyanca’da süt anlamına gelmektedir.</p>
  
     
      <h5 id="h1">Yapılışı</h5>
      <p id="yazi">Caffé Latte, espresso üzerine süt eklemesiyle elde edilir. Öncelikle normal espresso yapımına geçilir. Taze öğütülmüş kahveden (7-9 gr önerilir) single espresso hazırlanır ve ardından buhar yöntemiyle süt ısıtma (70-72 derece önerilir) işlemine geçilir. Isınıp krema haline gelen süt, hazırlanan espresso’nun üzerine dökülür. Caffé Latte içime hazırdır.(Süt kahve oranı 1/7 kabul gören aralıktır)</p>
  
  
  </ion-content>
  
