<ion-header>
    <ion-toolbar>
      <ion-title>Cappuccino</ion-title>
      <!--geri butonu-->
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/kahveuc" text="Geri" color="blue" icon="arrow-back" mode="ios" ></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <h1 id="b1">Cappuccino</h1>
      <p></p>
      <img src="assets/cappucino.jpg">
      <p></p>
      <h5 id="h1">Hakkında</h5>
      <p id="yazi">Latte'ye benzerliğiyle de bilinen Cappuccino, üzerindeki bol süt kremasıyla tanınır. Latte'ye oranla daha fazla süt kreması (köpüğü) içeren Cappuccino da Latte gibi espresso üzerine süt ve süt kreması eklenerek yapılır. Cappuccino hazırlarken, ilk önce bazını oluşturan espresso'nun yapımına geçilir.</p>
  
      <h5 id="h1">Tarihçe</h5>
      <p id="yazi">Cappuccino kelimesinin ortaya çıkışı tarihte ilk defa ‘capuchin’ isimli rahiplerden gelir. Kahve yapımında kullanılan makinaların yaygınlaşması ile bugünkü görüntüsüne ulaşmıştır. Cappuccino, “latte”ye benzer fakat espresso lu bir kahve içeceğidir.</p>
  
      <h5 id="h1">Yapılışı</h5>
      <p id="yazi">Latte'ye oranla daha fazla süt kreması (köpüğü) içeren Cappuccino da Latte gibi espresso üzerine süt ve süt kreması eklenerek yapılır. Cappuccino hazırlarken, ilk önce bazını oluşturan espresso'nun yapımına geçilir. Taze öğütülmüş kahveden (yaklaşık 7-9 gr single shot için önerilir) portafilter (kaşık) içine alınır. </p>
  
  
  </ion-content>
  
