<ion-header>
  <ion-toolbar>
    <ion-title>Türk Kahvesi</ion-title>
    <!--geri butonu-->
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/kahvebir" text="Geri" color="blue" icon="arrow-back" mode="ios" ></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1 id="b1">Türk Kahvesi</h1>
    <p></p>
    <img src="assets/turkkahvesi.jpg">
    <p></p>
    <h5 id="h1">Hakkında</h5>
    <p id="yazi">Türk kahvesi Türk Kahvesi, Türkler tarafından keşfedilen kahve hazırlama ve pişirme metodunun adıdır.Özel bir tadı, köpüğü, kokusu, pişirilişi, ikramıyla kendine özgü bir kimliği ve geleneği vardır.Kahve ile Türkler sayesinde tanışan Avrupa; uzun yıllar kahveyi, Türk kahvesi olarak bu yöntemle hazırlayıp tüketmiştir.</p>

    <h5 id="h1">Tarihçe</h5>
    <p id="yazi">Başlangıçta saray içerisinde üst düzey görevliler, önemli devlet adamları ve halkın ileri gelenleri için hazırlanan Türk Kahvesi zamanla halk arasında da yaygınlık kazanmaya başlamıştır. Bu dönem içerisinde ilk kahvehane Tahtakale’de, Kiva Han adı ile açılmıştır. İlk kahvehanenin ardından diğerlerinin açılması çok zaman almamış ve İstanbul ve diğer vilayetlerde bir çok kahvehane kahve servisi yapmaya başlamıştır. Halkın ardından Osmanlı kentlerini ziyaret eden tüccarlar ve seyyahların kahveyi fark etmeleri çok zor olmamıştır. Anadolu’dan Avrupa’ya Venedikli tüccarlarca taşınan kahve 18. yüzyılın ilk yıllarından itibaren Avrupa’da hızlı bir şekilde yaygınlaşmaya başlamıştır.</p>

    <h5 id="h1">Yapılışı</h5>
    <p id="yazi">Az şekerli kahve 1 çay kaşığı şeker, Orta şekerli kahve 2 çay kaşığı şeker, Çok şekerli kahve 3 çay kaşığı şeker kullanılarak yapılır. – Cezvenin içerisine her fincan kahve için; bir fincan su, 2 çay kaşığı kahve ve şeker koyun. – İyice karıştırın, cezveyi kısık ateşe yerleştirin ve yavaşça kaynama derecesine getirin. </p>


</ion-content>
