<ion-header>
    <ion-toolbar>
      <ion-title>Affogato</ion-title>
      <!--geri butonu-->
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/kahvedort" text="Geri" color="blue" icon="arrow-back" mode="ios" ></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <h1 id="b1">Affogato</h1>
      <p></p>
      <img src="assets/affogato.jpg">
      <p></p>
      <h5 id="h1">Hakkında</h5>
      <p id="yazi">Her şey İtalya’da dondurmanın tatlılığının, espressonun ise acı tadının bir araya gelmesiyle başladı… Eğer onunla henüz tanışmadıysan, içerisinde bir kaşık dondurma yer alan espresso olarak tanımlayabiliriz.</p>
  
      
      <h5 id="h1">Yapılışı</h5>
      <p id="yazi">Klasik bir affogato yapmak istiyorsan, ihtiyacın olan bir bardak sıcacık espresso ve bir top vanilyalı dondurma. Bardak içerisine yerleştirdiğimiz vanilyalı dondurmanın üzerine sıcacık espressoyu yavaş yavaş ekledikten sonra muhteşem ikilinin birbiriyle kavuşma anına şahit oluyor, ardından bir kaşık yardımıyla afiyetle tüketiyoruz.</p>
  
  
  </ion-content>
  
