<ion-header>
    <ion-toolbar>
      <ion-title>Frappe</ion-title>
      <!--geri butonu-->
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/kahvebes" text="Geri" color="blue" icon="arrow-back" mode="ios" ></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <h1 id="b1">Frappe</h1>
      <p></p>
      <img src="assets/frappe.jpg">
      <p></p>
      
      <h5 id="h1">Tarihçe</h5>
      <p id="yazi">Frappenin dünyaya yayılma hikayesi ise oldukça ilginç. 1957 yılında Selanik’te gerçekleştirilen Uluslararası Kahve Fuarı’ndaki Nestlé standındaki bir çalışan, fuar ziyaretçilerine yeni piyasaya sürülen ve süt eklendikten sonra shakerda sallanarak hazırlanan çikolatalı içeceği tanıtıyordu. Başka bir çalışan ise her gün içtiği hazır kahveyi hazırlayacak sıcak su bulamadığı için, arkadaşının yöntemini baz alarak shakera kahvesi ile buz ve soğuk su ekleyerek hazırlamıştır. Bu sayede hazır kahve ile hazırlanan frappe ortaya çıkmıştır. Yunanistan’da en sevilen içecek haline gelen frappeyi hala her kafede içebilirsiniz.</p>
  
      <h5 id="h1">Yapılışı</h5>
      <p id="yazi">Yaklaşık olarak 1,5 bardak kahve ile 4 bardak frappe hazırlamanız mümkün. Bu ölçüyü göz önünde bulundurarak espresso makinenizde istediğiniz miktarda espresso hazırlamalısınız. Daha sert bir içim için daha yüksek oranda espresso kullanabilirsiniz, aynı şekilde daha yumuşak bir içim için daha az espresso kullanmalısınız.</p>
  
  
  </ion-content>
  
