<ion-header>
    <ion-toolbar>
      <ion-title>Eiskaffee</ion-title>
      <!--geri butonu-->
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/kahvedort" text="Geri" color="blue" icon="arrow-back" mode="ios" ></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <h1 id="b1">Eiskaffee</h1>
      <p></p>
      <img src="assets/eiskaffee.jpg">
      <p></p>
      <h5 id="h1">Hakkında</h5>
      <p id="yazi">Eiskaffee, (buzlu kahve) popüler bir Alman içeceğidir. Soğuk kahve, vanilyalı dondurma  ve bazen süt veya krem şanti ile hazırlanmaktadır.</p>
  
      
      <h5 id="h1">Yapılışı</h5>
      <p id="yazi">Bir bardak veya metal kasede soğuk kahve, buharlaştırılmış süt ve şekeri birlikte şeker tamamen eriyene kadar karıştırın. Iyice soğutun.
          İki uzun bardağın diplerinin her birine 1/2 fincan vanilyalı dondurma koyun. Soğutulmuş kahve-süt-şeker karışımını üzerine koyun ve bir krem ​​şanti ile üstüne koyun.
          İsteğe bağlı olarak, çırpılmış krema tadına elenmiş şekerlemeler şekeri eklenerek tatlandırılabilir, ancak geleneksel olarak şekersizdir.</p>
  
  
  </ion-content>
  
