<ion-header>
  <ion-toolbar>
    <ion-title id="kahvebaslik">
      Kahve Çeşitleri
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="ion-padding">
      <!--slider-->
      <ion-slides pager="true" effect="cube" >
  
          <ion-slide >
              <img src="assets/slider1/1.jpg">
          </ion-slide>
      
          <ion-slide >
              <img src="assets/slider1/2.jpg">
          </ion-slide>
      
          <ion-slide>
              <img src="assets/slider1/3.jpg">
          </ion-slide>
          <ion-slide >
              <img src="assets/slider1/4.jpg">
          </ion-slide>
      
          <ion-slide >
              <img src="assets/slider1/5.jpg">
          </ion-slide>
      
          <ion-slide>
              <img src="assets/slider1/6.jpg">
          </ion-slide>
  
          <ion-slide >
              <img src="assets/slider1/7.jpg">
          </ion-slide>
      
          <ion-slide >
              <img src="assets/slider1/8.jpg">
          </ion-slide>
      
          <ion-slide>
              <img src="assets/slider1/9.jpg">
          </ion-slide>
  
          <ion-slide>
              <img src="assets/slider1/10.jpg">
          </ion-slide>
  
        </ion-slides>
  
      <!--slider-->
  
      <h6 id="kahvenindunyasi">Kahve'nin Dünyası</h6>
      <p id="yazi">Kahvenin tarihçesi, M.S. 850 yılına dayanır. Her şey Kaldi adında, Etiyopyalı bir sığırtmacın, güttüğü keçilerin bir meyveyi yedikten sonra canlanmalarını fark etmesiyle başlamış. Kendisi de bu meyveyi denemeye karar vermiş keçi çobanı ve yedikten sonra duyduğu güç ve mutluluk çok hoşuna gitmiş.</p>
    </div>
    <!--menu-->
    <ion-list lines="none" mode="ios">
        <ion-list-header>
          <ion-label>Kahve Çeşitleri</ion-label>
        </ion-list-header>
        <ion-item href="/kahvebir">
          <ion-icon slot="start" color="medium" name="cafe"></ion-icon>
          <ion-label>İnce Çekirdekli Kahve</ion-label>
        </ion-item>
        <ion-item href="/kahveiki">
          <ion-icon slot="start" color="medium" name="cafe"></ion-icon>
          <ion-label>Espresso Bazlı Kahveler</ion-label>
        </ion-item>
        <ion-item href="/kahveuc">
          <ion-icon slot="start" color="medium" name="cafe"></ion-icon>
          <ion-label>Sütlü-Kremalı Kahveler</ion-label>
        </ion-item>
        <ion-item href="/kahvedort">
          <ion-icon slot="start" color="medium" name="cafe"></ion-icon>
          <ion-label>Dondurmalı Kahveler</ion-label>
        </ion-item>
        <ion-item href="/kahvebes">
          <ion-icon slot="start" color="medium" name="cafe"></ion-icon>
          <ion-label>Soğuk Kahveler</ion-label>
        </ion-item>
      </ion-list>
  
    <!--menu-->
  </div>
</ion-content>
